@font-face 
{
	font-family: font;
	src: url(fonts/SAMAN.TTF);
}
#font
{
	font-family: font;
	font-weight: normal;
}
@font-face 
{
	font-family: font1;
	src: url(fonts/CaviarDreams.ttf);
}
#font1
{
	font-family: font1;
	font-weight: normal;
}
@font-face 
{
	font-family: font2;
	src: url(fonts/GreatVibes-Regular.otf);
}
#font2
{
	font-family: font2;
}
