.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a,.dropdown-content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
	transition: 0.5s ease;	
}
.dropbtn{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	border:solid 1px black;
    color: white;
    background-color: #111;
    width:100%;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
	color: black;
	background-color:white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
	padding:0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 55px;}
  .sidenav a {font-size: 18px;}
}

